@charset "UTF-8";
.barlow-thin {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-extralight {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium, .home__tintuc__nav > li > a {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-extrabold {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-black {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-thin-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-extralight-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-light-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-bold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-extrabold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-black-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.uk-height-min-small {
  min-height: 150px;
}
.uk-height-min-medium {
  min-height: 300px;
}
.uk-height-min-large {
  min-height: 450px;
}

.bg-000 {
  background: #000;
}

.bg-FFF {
  background: #FFF;
}

.bg-005DCB {
  background: #005DCB;
}

.bg-CC202D {
  background: #CC202D;
}

.bg-2F4858 {
  background: #2F4858;
}

.bg-3161C2 {
  background: #3161C2;
}

.bg-F69C1F {
  background: #F69C1F;
}

.bgc-070A71, .home__duan__section:before {
  background-color: #070A71;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-19-xl {
    margin-left: -19px !important;
  }
  .uk-grid-19-xl > * {
    padding-left: 19px !important;
  }
  .uk-grid-19-xl > .uk-grid-margin {
    margin-top: 19px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-19-l {
    margin-left: -19px !important;
  }
  .uk-grid-19-l > * {
    padding-left: 19px !important;
  }
  .uk-grid-19-l > .uk-grid-margin {
    margin-top: 19px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-19-m {
    margin-left: -19px !important;
  }
  .uk-grid-19-m > * {
    padding-left: 19px !important;
  }
  .uk-grid-19-m > .uk-grid-margin {
    margin-top: 19px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-19-s {
    margin-left: -19px !important;
  }
  .uk-grid-19-s > * {
    padding-left: 19px !important;
  }
  .uk-grid-19-s > .uk-grid-margin {
    margin-top: 19px !important;
  }
}

.uk-grid-19 {
  margin-left: -19px;
}
.uk-grid-19 > * {
  padding-left: 19px;
}
.uk-grid-19 > .uk-grid-margin {
  margin-top: 19px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-24-xl {
    margin-left: -24px !important;
  }
  .uk-grid-24-xl > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-xl > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-24-l {
    margin-left: -24px !important;
  }
  .uk-grid-24-l > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-l > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-24-m {
    margin-left: -24px !important;
  }
  .uk-grid-24-m > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-m > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-24-s {
    margin-left: -24px !important;
  }
  .uk-grid-24-s > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-s > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

.uk-grid-24 {
  margin-left: -24px;
}
.uk-grid-24 > * {
  padding-left: 24px;
}
.uk-grid-24 > .uk-grid-margin {
  margin-top: 24px;
}

@media (min-width: 1600px) {
  .uk-grid-28-xl {
    margin-left: -28px !important;
  }
  .uk-grid-28-xl > * {
    padding-left: 28px !important;
  }
  .uk-grid-28-xl > .uk-grid-margin {
    margin-top: 28px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-28-l {
    margin-left: -28px !important;
  }
  .uk-grid-28-l > * {
    padding-left: 28px !important;
  }
  .uk-grid-28-l > .uk-grid-margin {
    margin-top: 28px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-28-m {
    margin-left: -28px !important;
  }
  .uk-grid-28-m > * {
    padding-left: 28px !important;
  }
  .uk-grid-28-m > .uk-grid-margin {
    margin-top: 28px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-28-s {
    margin-left: -28px !important;
  }
  .uk-grid-28-s > * {
    padding-left: 28px !important;
  }
  .uk-grid-28-s > .uk-grid-margin {
    margin-top: 28px !important;
  }
}

.uk-grid-28 {
  margin-left: -28px;
}
.uk-grid-28 > * {
  padding-left: 28px;
}
.uk-grid-28 > .uk-grid-margin {
  margin-top: 28px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

.fz-14 {
  font-size: 0.875rem;
}

.fz-16, .home__tintuc__nav > li > a, .footer__nav > li > a {
  font-size: 1rem;
}

.fz-18 {
  font-size: 1.125rem;
}

.fz-20 {
  font-size: 1.25rem;
}

.fz-22 {
  font-size: calc(1.2625rem + 0.15vw);
}
@media (min-width: 1200px) {
  .fz-22 {
    font-size: 1.375rem;
  }
}

.fz-24 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .fz-24 {
    font-size: 1.5rem;
  }
}

.fz-26 {
  font-size: calc(1.2875rem + 0.45vw);
}
@media (min-width: 1200px) {
  .fz-26 {
    font-size: 1.625rem;
  }
}

.fz-28 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  .fz-28 {
    font-size: 1.75rem;
  }
}

.fz-30 {
  font-size: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .fz-30 {
    font-size: 1.875rem;
  }
}

.fz-32 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  .fz-32 {
    font-size: 2rem;
  }
}

.fz-34 {
  font-size: calc(1.3375rem + 1.05vw);
}
@media (min-width: 1200px) {
  .fz-34 {
    font-size: 2.125rem;
  }
}

.fz-36 {
  font-size: calc(1.35rem + 1.2vw);
}
@media (min-width: 1200px) {
  .fz-36 {
    font-size: 2.25rem;
  }
}

.fz-38 {
  font-size: calc(1.3625rem + 1.35vw);
}
@media (min-width: 1200px) {
  .fz-38 {
    font-size: 2.375rem;
  }
}

.fz-40 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  .fz-40 {
    font-size: 2.5rem;
  }
}

.fz-42 {
  font-size: calc(1.3875rem + 1.65vw);
}
@media (min-width: 1200px) {
  .fz-42 {
    font-size: 2.625rem;
  }
}

.fz-44 {
  font-size: calc(1.4rem + 1.8vw);
}
@media (min-width: 1200px) {
  .fz-44 {
    font-size: 2.75rem;
  }
}

.fz-46 {
  font-size: calc(1.4125rem + 1.95vw);
}
@media (min-width: 1200px) {
  .fz-46 {
    font-size: 2.875rem;
  }
}

.fz-47 {
  font-size: calc(1.41875rem + 2.025vw);
}
@media (min-width: 1200px) {
  .fz-47 {
    font-size: 2.9375rem;
  }
}

.fz-48 {
  font-size: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  .fz-48 {
    font-size: 3rem;
  }
}

.fz-50 {
  font-size: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .fz-50 {
    font-size: 3.125rem;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-000 {
  color: black;
}

.text-FFF {
  color: white;
}

.text-3161C2, .home__tintuc__nav > li > a:not(:hover) {
  color: #3161c2;
}

.text-F69C1F {
  color: #f69c1f;
}

.text-0B0B0B {
  color: #0b0b0b;
}

.ls--016 {
  letter-spacing: -0.16px;
}

.item-3px:nth-child(n+2) {
  margin-top: 0.1875rem;
}

.item-4px:nth-child(n+2) {
  margin-top: 0.25rem;
}

.item-9px:nth-child(n+2) {
  margin-top: 0.5625rem;
}

.item-10px:nth-child(n+2) {
  margin-top: 0.625rem;
}

.item-19px:nth-child(n+2) {
  margin-top: 1.1875rem;
}

.item-37px:nth-child(n+2) {
  margin-top: calc(1.35625rem + 1.275vw);
}
@media (min-width: 1200px) {
  .item-37px:nth-child(n+2) {
    margin-top: 2.3125rem;
  }
}

.item-50px:nth-child(n+2) {
  margin-top: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .item-50px:nth-child(n+2) {
    margin-top: 3.125rem;
  }
}

.item-51px:nth-child(n+2) {
  margin-top: calc(1.44375rem + 2.325vw);
}
@media (min-width: 1200px) {
  .item-51px:nth-child(n+2) {
    margin-top: 3.1875rem;
  }
}

.item-71px:nth-child(n+2) {
  margin-top: calc(1.56875rem + 3.825vw);
}
@media (min-width: 1200px) {
  .item-71px:nth-child(n+2) {
    margin-top: 4.4375rem;
  }
}

.w-545 {
  max-width: 100%;
  width: 545px;
}

.width-max-content {
  width: max-content;
}

.lh-142 {
  line-height: 1.42857;
}

.lh-50-btn {
  line-height: calc(50px - 2px);
}

.padding-0 {
  padding: 0;
}

.padding-x-0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 375px) {
  .padding-xs-0 {
    padding: 0;
  }
  .padding-xs-x-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .padding-xs-y-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 640px) {
  .padding-s-0 {
    padding: 0;
  }
  .padding-s-x-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .padding-s-y-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 960px) {
  .padding-m-0 {
    padding: 0;
  }
  .padding-m-x-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .padding-m-y-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .padding-l-0 {
    padding: 0;
  }
  .padding-l-x-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .padding-l-y-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1600px) {
  .padding-xl-0 {
    padding: 0;
  }
  .padding-xl-x-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .padding-xl-y-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.padding-4 {
  padding: 4px;
}

.padding-x-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.padding-y-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

@media (min-width: 375px) {
  .padding-xs-4 {
    padding: 4px;
  }
  .padding-xs-x-4 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .padding-xs-y-4 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
@media (min-width: 640px) {
  .padding-s-4 {
    padding: 4px;
  }
  .padding-s-x-4 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .padding-s-y-4 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
@media (min-width: 960px) {
  .padding-m-4 {
    padding: 4px;
  }
  .padding-m-x-4 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .padding-m-y-4 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
@media (min-width: 1200px) {
  .padding-l-4 {
    padding: 4px;
  }
  .padding-l-x-4 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .padding-l-y-4 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-4 {
    padding: 4px;
  }
  .padding-xl-x-4 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .padding-xl-y-4 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.padding-8 {
  padding: 8px;
}

.padding-x-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-y-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (min-width: 375px) {
  .padding-xs-8 {
    padding: 8px;
  }
  .padding-xs-x-8 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .padding-xs-y-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (min-width: 640px) {
  .padding-s-8 {
    padding: 8px;
  }
  .padding-s-x-8 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .padding-s-y-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (min-width: 960px) {
  .padding-m-8 {
    padding: 8px;
  }
  .padding-m-x-8 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .padding-m-y-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (min-width: 1200px) {
  .padding-l-8 {
    padding: 8px;
  }
  .padding-l-x-8 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .padding-l-y-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-8 {
    padding: 8px;
  }
  .padding-xl-x-8 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .padding-xl-y-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.padding-10 {
  padding: 10px;
}

.padding-x-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 375px) {
  .padding-xs-10 {
    padding: 10px;
  }
  .padding-xs-x-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .padding-xs-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 640px) {
  .padding-s-10 {
    padding: 10px;
  }
  .padding-s-x-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .padding-s-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 960px) {
  .padding-m-10 {
    padding: 10px;
  }
  .padding-m-x-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .padding-m-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .padding-l-10 {
    padding: 10px;
  }
  .padding-l-x-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .padding-l-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-10 {
    padding: 10px;
  }
  .padding-xl-x-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .padding-xl-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.padding-12 {
  padding: 12px;
}

.padding-x-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.padding-y-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (min-width: 375px) {
  .padding-xs-12 {
    padding: 12px;
  }
  .padding-xs-x-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .padding-xs-y-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (min-width: 640px) {
  .padding-s-12 {
    padding: 12px;
  }
  .padding-s-x-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .padding-s-y-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (min-width: 960px) {
  .padding-m-12 {
    padding: 12px;
  }
  .padding-m-x-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .padding-m-y-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .padding-l-12 {
    padding: 12px;
  }
  .padding-l-x-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .padding-l-y-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-12 {
    padding: 12px;
  }
  .padding-xl-x-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .padding-xl-y-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.padding-16 {
  padding: 16px;
}

.padding-x-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-y-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 375px) {
  .padding-xs-16 {
    padding: 16px;
  }
  .padding-xs-x-16 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .padding-xs-y-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 640px) {
  .padding-s-16 {
    padding: 16px;
  }
  .padding-s-x-16 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .padding-s-y-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 960px) {
  .padding-m-16 {
    padding: 16px;
  }
  .padding-m-x-16 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .padding-m-y-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .padding-l-16 {
    padding: 16px;
  }
  .padding-l-x-16 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .padding-l-y-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-16 {
    padding: 16px;
  }
  .padding-xl-x-16 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .padding-xl-y-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.padding-20 {
  padding: 20px;
}

.padding-x-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-y-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 375px) {
  .padding-xs-20 {
    padding: 20px;
  }
  .padding-xs-x-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .padding-xs-y-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 640px) {
  .padding-s-20 {
    padding: 20px;
  }
  .padding-s-x-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .padding-s-y-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 960px) {
  .padding-m-20 {
    padding: 20px;
  }
  .padding-m-x-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .padding-m-y-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .padding-l-20 {
    padding: 20px;
  }
  .padding-l-x-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .padding-l-y-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-20 {
    padding: 20px;
  }
  .padding-xl-x-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .padding-xl-y-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.padding-24 {
  padding: 24px;
}

.padding-x-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.padding-y-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media (min-width: 375px) {
  .padding-xs-24 {
    padding: 24px;
  }
  .padding-xs-x-24 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .padding-xs-y-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 640px) {
  .padding-s-24 {
    padding: 24px;
  }
  .padding-s-x-24 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .padding-s-y-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 960px) {
  .padding-m-24 {
    padding: 24px;
  }
  .padding-m-x-24 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .padding-m-y-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .padding-l-24 {
    padding: 24px;
  }
  .padding-l-x-24 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .padding-l-y-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-24 {
    padding: 24px;
  }
  .padding-xl-x-24 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .padding-xl-y-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.padding-32 {
  padding: 32px;
}

.padding-x-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.padding-y-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (min-width: 375px) {
  .padding-xs-32 {
    padding: 32px;
  }
  .padding-xs-x-32 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .padding-xs-y-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (min-width: 640px) {
  .padding-s-32 {
    padding: 32px;
  }
  .padding-s-x-32 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .padding-s-y-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (min-width: 960px) {
  .padding-m-32 {
    padding: 32px;
  }
  .padding-m-x-32 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .padding-m-y-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  .padding-l-32 {
    padding: 32px;
  }
  .padding-l-x-32 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .padding-l-y-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-32 {
    padding: 32px;
  }
  .padding-xl-x-32 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .padding-xl-y-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.padding-40 {
  padding: 40px;
}

.padding-x-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-y-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 375px) {
  .padding-xs-40 {
    padding: 40px;
  }
  .padding-xs-x-40 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .padding-xs-y-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 640px) {
  .padding-s-40 {
    padding: 40px;
  }
  .padding-s-x-40 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .padding-s-y-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 960px) {
  .padding-m-40 {
    padding: 40px;
  }
  .padding-m-x-40 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .padding-m-y-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .padding-l-40 {
    padding: 40px;
  }
  .padding-l-x-40 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .padding-l-y-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-40 {
    padding: 40px;
  }
  .padding-xl-x-40 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .padding-xl-y-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.padding-48 {
  padding: 48px;
}

.padding-x-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.padding-y-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media (min-width: 375px) {
  .padding-xs-48 {
    padding: 48px;
  }
  .padding-xs-x-48 {
    padding-left: 48px;
    padding-right: 48px;
  }
  .padding-xs-y-48 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (min-width: 640px) {
  .padding-s-48 {
    padding: 48px;
  }
  .padding-s-x-48 {
    padding-left: 48px;
    padding-right: 48px;
  }
  .padding-s-y-48 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (min-width: 960px) {
  .padding-m-48 {
    padding: 48px;
  }
  .padding-m-x-48 {
    padding-left: 48px;
    padding-right: 48px;
  }
  .padding-m-y-48 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .padding-l-48 {
    padding: 48px;
  }
  .padding-l-x-48 {
    padding-left: 48px;
    padding-right: 48px;
  }
  .padding-l-y-48 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-48 {
    padding: 48px;
  }
  .padding-xl-x-48 {
    padding-left: 48px;
    padding-right: 48px;
  }
  .padding-xl-y-48 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.padding-0-12 {
  padding: 0 12px;
}

@media (min-width: 375px) {
  .padding-xs-0-12 {
    padding: 0 12px;
  }
}
@media (min-width: 640px) {
  .padding-s-0-12 {
    padding: 0 12px;
  }
}
@media (min-width: 960px) {
  .padding-m-0-12 {
    padding: 0 12px;
  }
}
@media (min-width: 1200px) {
  .padding-l-0-12 {
    padding: 0 12px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-0-12 {
    padding: 0 12px;
  }
}
.padding-6-12 {
  padding: 6px 12px;
}

@media (min-width: 375px) {
  .padding-xs-6-12 {
    padding: 6px 12px;
  }
}
@media (min-width: 640px) {
  .padding-s-6-12 {
    padding: 6px 12px;
  }
}
@media (min-width: 960px) {
  .padding-m-6-12 {
    padding: 6px 12px;
  }
}
@media (min-width: 1200px) {
  .padding-l-6-12 {
    padding: 6px 12px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-6-12 {
    padding: 6px 12px;
  }
}
.padding-9-12 {
  padding: 9px 12px;
}

@media (min-width: 375px) {
  .padding-xs-9-12 {
    padding: 9px 12px;
  }
}
@media (min-width: 640px) {
  .padding-s-9-12 {
    padding: 9px 12px;
  }
}
@media (min-width: 960px) {
  .padding-m-9-12 {
    padding: 9px 12px;
  }
}
@media (min-width: 1200px) {
  .padding-l-9-12 {
    padding: 9px 12px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-9-12 {
    padding: 9px 12px;
  }
}
.padding-0-8 {
  padding: 0 8px;
}

@media (min-width: 375px) {
  .padding-xs-0-8 {
    padding: 0 8px;
  }
}
@media (min-width: 640px) {
  .padding-s-0-8 {
    padding: 0 8px;
  }
}
@media (min-width: 960px) {
  .padding-m-0-8 {
    padding: 0 8px;
  }
}
@media (min-width: 1200px) {
  .padding-l-0-8 {
    padding: 0 8px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-0-8 {
    padding: 0 8px;
  }
}
.padding-4-8 {
  padding: 4px 8px;
}

@media (min-width: 375px) {
  .padding-xs-4-8 {
    padding: 4px 8px;
  }
}
@media (min-width: 640px) {
  .padding-s-4-8 {
    padding: 4px 8px;
  }
}
@media (min-width: 960px) {
  .padding-m-4-8 {
    padding: 4px 8px;
  }
}
@media (min-width: 1200px) {
  .padding-l-4-8 {
    padding: 4px 8px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-4-8 {
    padding: 4px 8px;
  }
}
.padding-5-10 {
  padding: 5px 10px;
}

@media (min-width: 375px) {
  .padding-xs-5-10 {
    padding: 5px 10px;
  }
}
@media (min-width: 640px) {
  .padding-s-5-10 {
    padding: 5px 10px;
  }
}
@media (min-width: 960px) {
  .padding-m-5-10 {
    padding: 5px 10px;
  }
}
@media (min-width: 1200px) {
  .padding-l-5-10 {
    padding: 5px 10px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-5-10 {
    padding: 5px 10px;
  }
}
.padding-5-7 {
  padding: 5px 7px;
}

@media (min-width: 375px) {
  .padding-xs-5-7 {
    padding: 5px 7px;
  }
}
@media (min-width: 640px) {
  .padding-s-5-7 {
    padding: 5px 7px;
  }
}
@media (min-width: 960px) {
  .padding-m-5-7 {
    padding: 5px 7px;
  }
}
@media (min-width: 1200px) {
  .padding-l-5-7 {
    padding: 5px 7px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-5-7 {
    padding: 5px 7px;
  }
}
.padding-10-20 {
  padding: 10px 20px;
}

@media (min-width: 375px) {
  .padding-xs-10-20 {
    padding: 10px 20px;
  }
}
@media (min-width: 640px) {
  .padding-s-10-20 {
    padding: 10px 20px;
  }
}
@media (min-width: 960px) {
  .padding-m-10-20 {
    padding: 10px 20px;
  }
}
@media (min-width: 1200px) {
  .padding-l-10-20 {
    padding: 10px 20px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-10-20 {
    padding: 10px 20px;
  }
}
.padding-12-24 {
  padding: 12px 24px;
}

@media (min-width: 375px) {
  .padding-xs-12-24 {
    padding: 12px 24px;
  }
}
@media (min-width: 640px) {
  .padding-s-12-24 {
    padding: 12px 24px;
  }
}
@media (min-width: 960px) {
  .padding-m-12-24 {
    padding: 12px 24px;
  }
}
@media (min-width: 1200px) {
  .padding-l-12-24 {
    padding: 12px 24px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-12-24 {
    padding: 12px 24px;
  }
}
.padding-16-32 {
  padding: 16px 32px;
}

@media (min-width: 375px) {
  .padding-xs-16-32 {
    padding: 16px 32px;
  }
}
@media (min-width: 640px) {
  .padding-s-16-32 {
    padding: 16px 32px;
  }
}
@media (min-width: 960px) {
  .padding-m-16-32 {
    padding: 16px 32px;
  }
}
@media (min-width: 1200px) {
  .padding-l-16-32 {
    padding: 16px 32px;
  }
}
@media (min-width: 1600px) {
  .padding-xl-16-32 {
    padding: 16px 32px;
  }
}
.rounded-2px {
  border-radius: 2px;
}

.rounded-4px {
  border-radius: 4px;
}

.rounded-5px, .home__slider__loadtimebar {
  border-radius: 5px;
}

.rounded-6px {
  border-radius: 6px;
}

.rounded-7px {
  border-radius: 7px;
}

.rounded-8px {
  border-radius: 8px;
}

.rounded-10px {
  border-radius: 10px;
}

.rounded-12px {
  border-radius: 12px;
}

.rounded-15px {
  border-radius: 15px;
}

.rounded-16px {
  border-radius: 16px;
}

.rounded-20px {
  border-radius: 20px;
}

.rounded-23px {
  border-radius: 23px;
}

.footer {
  background: var(--bgleft) no-repeat top left, var(--bgright) no-repeat top right, #070A71;
}
.footer__bottom {
  border-top: 1px solid #3161C2;
}

/* --- CSS cho hiệu ứng Load Time --- */
.load-time-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  transform-origin: left;
  transition: transform linear;
}

.load-time-bar.active {
  transform: scaleX(0);
  animation: load-progress 5s linear;
}

@keyframes load-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.home__slider__btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.home__slider__btn:not(:hover) {
  background-color: #F69C1F !important;
  border-color: #F69C1F !important;
}
.home__slider__overlay {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 55.37%, rgba(255, 255, 255, 0.63) 78.03%, rgba(255, 255, 255, 0.86) 97.04%), linear-gradient(180deg, rgba(0, 0, 0, 0) 22.43%, rgba(0, 0, 0, 0.19) 49.03%);
}
.home__slider__nav > * > * {
  width: inherit;
  height: inherit;
  border-radius: 0;
  border: none;
}
.home__slider__dotnav > * > * {
  width: inherit;
  height: inherit;
  border-radius: 0;
  border: none;
  background-color: transparent !important;
  text-indent: inherit;
}
.home__slider__loadtimebar {
  position: relative;
  height: 4px;
  background: rgba(217, 217, 217, 0.65);
  overflow: hidden;
}
.home__slider__loadtimebar {
  width: 50px !important;
}
@media screen and (min-width: 640px) {
  .home__slider__loadtimebar {
    width: calc(50px + 160 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .home__slider__loadtimebar {
    width: 210px !important;
  }
}
.home__slider__loadtimebar:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform linear;
}
.uk-active .home__slider__loadtimebar:before {
  transform: scaleX(0);
  animation: load-progress 5s linear;
  background: white;
}
.home__about__column:nth-child(odd) .home__about__box {
  background: rgba(255, 255, 255, 0.61);
}
.home__about__column:nth-child(even) .home__about__box {
  background: rgba(7, 10, 113, 0.72);
}
.home__duan__bg {
  background-position: 50% 40%;
}
.home__duan__section {
  position: relative;
}
.home__duan__section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.home__duan__section:before {
  height: 300px !important;
}
@media screen and (min-width: 640px) {
  .home__duan__section:before {
    height: calc(300px + 317 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .home__duan__section:before {
    height: 617px !important;
  }
}
.home__duan__overlay {
  background: rgba(0, 0, 0, 0.3);
}
.home__duan__link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.home__duan__slidenav {
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  min-height: 40px;
  box-sizing: border-box;
  padding: 0 25px;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
  background: rgba(49, 97, 194, 0.59);
}
.home__duan__slidenav:hover {
  background: #3161c2;
}
.home__duan__slidenav:hover path {
  fill: #FFF;
}
.home__duan__slidenav:nth-child(n+2) {
  margin-left: 5px;
}
.home__doitac__overlay {
  background: var(--path-to-image) no-repeat center/cover, #D9D9D9;
}

/*# sourceMappingURL=style.css.map */
