.home {
  &__tintuc{
    &__nav{
      >li{
        >a{
          @extend .fz-16;
          &:not(:hover){
            @extend .text-3161C2;
          }
        }
      }
    }
  }
  &__duan{
    &__bg{
      background-position: 50% 40%;
    }
    &__section{
      position: relative;
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        //height: 617px;
        @include fluidx(617px,300px,height);
        @extend .bgc-070A71;
      }
    }
    &__overlay{
      background: rgba(0, 0, 0, 0.3);
    }
    &__link{
      display: inline-flex;
      align-items: center;
      gap: 8px;
    }
    &__slidenav{
      margin: 0;
      border: none;
      overflow: visible;
      font: inherit;
      color: inherit;
      text-transform: none;
      -webkit-appearance: none;
      //border-radius: 0;
      display: inline-flex;
      align-items: center;
      min-height: 40px;
      box-sizing: border-box;
      padding: 0 25px;
      vertical-align: middle;
      font-size: .875rem;
      line-height: 38px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: .1s ease-in-out;
      transition-property: color, background-color, border-color;
      background: rgba(#3161C2, 0.59);
      &:hover{
        background: rgba(#3161C2, 1);
        path{
          fill: #FFF;
        }
      }
      &:nth-child(n+2){
        margin-left: 5px;
      }
    }
  }
  &__doitac{
    &__overlay{
      background: var(--path-to-image) no-repeat center/cover, #D9D9D9;
    }
  }
}