$colors: (
        '000': #000,
        'FFF': #FFF,
        '005DCB': #005DCB,
        'CC202D': #CC202D,
        '2F4858': #2F4858,
        '3161C2': #3161C2,
        'F69C1F': #F69C1F,
        'F6F8F9': #F6F8F9,
        '3E5C9A': #3E5C9A,
        'EE3338': #EE3338,
        '29A9E1': #29A9E1,
);
@each $name,$value in $colors {
  .bg-#{$name} {
    background: $value;
  }
}

$colors: (
        '070A71': #070A71,
        'c3f5ff': #c3f5ff,
);
@each $name,$value in $colors {
  .bgc-#{$name} {
    background-color: $value;
  }
}