$colors: (
        '000': #000,
        'FFF': #FFF,
        '005DCB': #005DCB,
        'CC202D': #CC202D,
        '2F4858': #2F4858,
);
@each $name,$value in $colors {
  .bg-#{$name} {
    background: $value;
  }
}

$colors: (
        '070A71': #070A71,
);
@each $name,$value in $colors {
  .bgc-#{$name} {
    background-color: $value;
  }
}