@mixin line-clamp($i){
  display: -webkit-box;
  -webkit-line-clamp: #{$i};
  -webkit-box-orient: vertical;
  overflow: hidden;
}
$j: 1,2,3,4,5;
@each $i in $j {
  .line-clamp-#{$i}{
    @include line-clamp($i);
  }
}

$colors: (
        '000': #000,
        'FFF': #FFF,
        '3161C2': #3161C2,
        '070A71': #070A71,
        'F69C1F': #F69C1F,
        '0B0B0B': #0B0B0B,
);
@each $name,$value in $colors {
  .text-#{$name} {
    color: rgba($value, 1);
  }
}

$sizes: (
        '-016': -0.16px,
);
@each $name,$value in $sizes {
  .ls-#{$name} {
    letter-spacing: $value;
  }
}